<main class="auth">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          You must be logged in to continue.
        </div>
      </div>
    </div>
    <div class="row">

        <div class="col-lg-4 col-md-4">
        <div class="panel">
          <div class="panel-body">
          <h3>Login</h3>
          <form class="">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" placeholder="Login/Email" style="">
              <span class="help-block">help</span>
              <label for="">Password</label>
              <input type="password" class="form-control" placeholder="Password">
              <span class="help-block">help</span>
            </div>
            <button type="submit" class="btn btn-success">Login</button>
            <a href="#" class="btn btn-link pull-right">Forgot your password?</a>
          </form>
        </div>
        </div>
        </div>
        <div class="col-lg-8 col-md-8 text-center">

          <h3>Become a member</h3>
          <a href="#!/signup" class="btn btn-primary btn-lg">Sign up now!</a>
        </div>
      </div>
    </div>
      </div>

  </div>
</main>
