<main class="booking">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <!-- Section for grouped content -->
        <!-- <button class="btn btn-link">Cancel booking</button> -->
        <div class="panel">
          <div class="panel-summary">
            <h3><time>Friday, 24th Feb 2017</time></h3>
            <p class="lead">2 players, Old course</p>
          </div>
          <div class="panel-steps">
            <ol class="breadcrumb">
              <li class="active">Package</li>
              <li>Players</li>
              <li>Summary</li>
              <li>Payments</li>
              <li>Confirmation</li>
            </ol>
          </div>

          <!-- Repeat panel-body (packages loop) -->
          <div class="panel-body">
            <h4>Please select required package</h4>
            <div class="flex flex-column flex-row-l">
              <div class="package">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-model="packageSelected">
                    <strong>2-ball £20.00 deposit</strong> 18 holes low deposit
                  </label>
                </div>
              </div>
              <div class="flex flex-row prices">
                <div class="price"><span>Due now</span><strong>£20.00</strong></div>
                <div class="price"><span>Due on arrival</span><strong>£80.00</strong></div>
              </div>
            </div>
          </div>
          <!-- Repeat panel-body (packages loop) -->
          <div class="panel-body">
            <div class="flex flex-column flex-row-l">
              <div class="package">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-model="packageSelected">
                    <strong>2-ball £20.00 deposit</strong> 18 holes low deposit
                  </label>
                </div>
              </div>
              <div class="flex flex-row prices">
                <div class="price"><span>Due now</span><strong>£20.00</strong></div>
                <div class="price"><span>Due on arrival</span><strong>£80.00</strong></div>
              </div>
            </div>
          </div>
          <!-- This appears when the package is selected -->
          <div class="panel-footer clearfix" ng-show="packageSelected"><a href="#!/players" class="btn btn-info pull-right">Add Players</a></div>
        </div>
        <!-- End of .panel -->

      </div>
    </div>
  </div>
</main>
