<main class="booking">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">

        <div class="page-header">
          <h2>Package <a href="#!/" class="btn btn-secondary btn-sm pull-right">Cancel</a></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <!-- Section for grouped content -->
        <div class="panel">
          <div class="panel-heading panel-steps">
            <ol class="breadcrumb">
              <li class="active">Your booking</li>
              <li>Players</li>
              <li>Summary</li>
              <li>Payments</li>
              <li>Confirmation</li>
            </ol>
          </div>
          <div class="panel-body">
            <h3><strong>Friday, 24/02/2017</strong>, <time>2 players</time>, Old Course</h3>
          </div>

          <!-- Repeat panel-body (packages loop) -->
          <div class="panel-body">
              <h3>Please select required package</h3>
            <div class="flex flex-column flex-row-l">
              <div class="package">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-model="packageSelected">
                    <strong>2-ball £20.00 deposit</strong> 18 holes low deposit
                  </label>
                </div>
              </div>
              <div class="flex flex-row prices">
                <div class="price"><span>Due now</span><strong>£20.00</strong></div>
                <div class="price"><span>Due on arrival</span><strong>£80.00</strong></div>
              </div>
            </div>
          </div>
          <!-- Repeat panel-body (packages loop) -->
          <div class="panel-body">
            <div class="flex flex-column flex-row-l">
              <div class="package">
                <div class="radio">
                  <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" ng-model="packageSelected">
                    <strong>2-ball £20.00 deposit</strong> 18 holes low deposit
                  </label>
                </div>
              </div>
              <div class="flex flex-row prices">
                <div class="price"><span>Due now</span><strong>£20.00</strong></div>
                <div class="price"><span>Due on arrival</span><strong>£80.00</strong></div>
              </div>
            </div>
          </div>
          <!-- This appears when the package is selected -->
          <div class="panel-footer clearfix" ng-show="packageSelected"><a href="#!/players" class="btn btn-info pull-right">Players <i class="fa fa-chevron-right"></i></a></div>
        </div>
        <!-- End of .panel -->
      </div>
    </div>
  </div>
</main>
