<main class="confirmation">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="panel">
          <div class="panel">
            <div class="panel-summary">
              <h3><time>Friday, 24th Feb 2017</time></h3>
              <p class="lead">2 players, Old course</p>
            </div>
            <div class="panel-steps">
              <ol class="breadcrumb">
                <li>Package</li>
                <li>Players</li>
                <li>Summary</li>
                <li>Payments</li>
                <li class="active">Confirmation</li>
              </ol>
            </div>
            <div class="panel-body">
              <h4 class="text-success">Payment completed!</h4>
              <p>Your booking reference: <code>#123123</code></p>
              <ul class="nav nav-stacked">
                <li><a href="#!/mybookings">Check your bookings</a></li>
              </ul>
            </div>
            <div class="panel-footer">
              <a href="#!/" class="btn btn-default">New booking</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
