<main class="forgotpassword">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <div class="panel">
          <form class="">
          <div class="panel-body">
            <h3>Password recovery</h3>

              <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" placeholder="Login/Email" style="">
                <span class="help-block">We will send reset link TODO</span>
              </div>



          </div>
          <div class="panel-footer">
              <button type="submit" class="btn btn-success">Reset password</button>
          </div>
          </form>
        </div>
        <a href="#!/login" class="btn btn-link btn-block"><i class="fa fa-chevron-left"></i> Back to login</a>
      </div>
    </div>
  </div>
</main>
