
<main class="home-search home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h2>New booking</h2>
          <p class="lead text-white">Find your tee time</p>
        </div>
      </div>
    </div>

    <div class="panel search-form">
      <div class="panel-body">
      <form action="#!/results">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-6">
            <label for=""><i class="fa fa-map-signs"></i> Court</label>
            <select name="" id="" class="form-control ">
              <option value="">New</option>
              <option value="">Old</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <label for=""><i class="fa fa-calendar"></i> Date</label>
            <input type="date" class="form-control" placeholder="Select date" aria-describedby="sizing-addon2" id="datetimepicker1">
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <label for=""><i class="fa fa-users"></i> No. of Players</label>
            <select name="" id="" class="form-control">
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
            <label for="">&nbsp;</label>
            <button class="btn btn-info btn-block"><i class="fa fa-search"></i> Search</button></div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </main>

<section class="home-howto">
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3>Search</h3>
          <p>Description</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3>Book</h3>
          <p>Description</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3>Enjoy!</h3>
          <p>Description</p>
        </div>
      </div>
</div>
  </article>
    </section>
