<main class="booking">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <!-- Section for grouped content -->
        <!-- <button class="btn btn-link">Cancel booking</button> -->
        <div class="panel">
          <div class="panel-summary">
            <h3><time>Friday, 24th Feb 2017</time></h3>
            <p class="lead">2 players, Old course</p>
          </div>
          <div class="panel-steps">
            <ol class="breadcrumb">
              <li>Package</li>
              <li class="active">Players</li>
              <li>Summary</li>
              <li>Payments</li>
              <li>Confirmation</li>
            </ol>
          </div>
          <div class="panel-body">
            <h4>Players ({{playersList.length+1}} of 2)</h4>
          </div>

            <ul class="list-group">
              <li class="list-group-item">
                <strong>Mr Grzegorz Hadala</strong> (You, Men's 12)
                <span class="label label-warning">Host</span>
              </li>
              <li class="list-group-item" ng-repeat="player in playersList" ng-hide="players.length == 0">
                <strong>{{player.title}} {{player.forename}} {{player.surname}}</strong> ({{player.section}} {{player.handicap}})
                <span class="label label-default" ng-show="player.guest">Guest</span>
                <p style="margin-bottom:0;" class="pull-right">
                  <button class="btn-sm btn btn-link" ng-click="removePlayer(player)">Remove</button>
                </p>
              </li>
            </ul>

          <!-- Guests -->
          <div class="panel-body">
            <h4>Guests ({{guests.length}}) <button class="btn btn-default btn-sm pull-right" ng-click="showGuestForm = !showGuestForm">Add guests</button></h4>
            <div class="well" role="guest-form" ng-show="showGuestForm">
              <h5>Add a guest</h5>
              <strong>Section:</strong>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  Men's
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                  Ladies'
                </label>
              </div>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="form_title">Title</label>
                <select class="form-control" id="form_title">
                  <option>Mr.</option>
                  <option>Mrs.</option>
                </select>
              </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="form_title">Forename</label>
                <input type="text" class="form-control" id="form_title" placeholder="Forename">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="form_forename">Surname</label>
                <input type="text" class="form-control" id="form_forename" placeholder="Surname">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label for="form_handicap">Handicap</label>
                <select class="form-control" id="form_handicap">
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
                <span id="helpBlock" class="help-block">Ladies....</span>
              </div>
            </div>
            </div>
            <button class="btn btn-sm btn-default" ng-click="showGuestForm = !showGuestForm">Save</button>
            <button class="btn btn-sm btn-link pull-right" ng-click="showGuestForm = !showGuestForm">Cancel</button>
            </div>
          </div>
          <div class="list-group guests-list">
            <button class="list-group-item clearfix" ng-repeat="guest in guests" ng-click="funAddPlayer(guest)" ng-class="{disabled: (playersList.length+1) == 2}">
              <strong>{{guest.title}} {{guest.forename}} {{guest.surname}}</strong> ({{guest.section}} {{guest.handicap}})
              <p style="margin-bottom:0;" class="pull-right">
                <!-- <button class="btn-sm btn btn-link" ng-hide="(playersList.length+1) == 2">Player</button> -->
                Add as a player
              </p>
            </button>
            <div ng-hide="isloaded" class="list-group-item text-center text-info" style="padding: 30px 0;">
              <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div>

          </div>
          <!-- This appears when the package is selected -->
          <div class="panel-footer">
            <a class="btn btn-link" href="#!/booking">Change package</a>
            <a class="btn btn-info pull-right" href="#!/summary" ng-show="(playersList.length)+1 == 2">Summary </a>
          </div>
        </div>
        <!-- End of .panel -->
      </div>
    </div>
  </div>
</main>
