<main class="summary">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <!-- Section for grouped content -->
        <div class="panel">
          <div class="panel-summary">
            <h3><time>Friday, 24th Feb 2017</time></h3>
            <p class="lead">2 players, Old course</p>
          </div>
          <div class="panel-steps">
            <ol class="breadcrumb">
              <li>Package</li>
              <li>Players</li>
              <li class="active">Summary</li>
              <li>Payments</li>
              <li>Confirmation</li>
            </ol>
          </div>


          <!-- Repeat panel-body (packages loop) -->
          <div class="panel-body">
            <h4>Package</h4>
            <p class="help">Description if needed</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><strong>2 ball, £20.00 deposit</strong> 18 holes low deposit</li>
          </ul>
          <div class="panel-body">
            <h4>Players (2 of 2)</h4>
            <p class="help"><i class="fa fa-info"></i> Helper text</p>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              Mr Grzegorz Hadala (You, Men's 12)
              <span class="label label-default">Host</span>
            </li>
            <li class="list-group-item">
              Mr Tom Ray (You, Men's 12)
              <span class="label label-default">Guest</span>

            </li>
          </ul>

          <div class="panel-footer">
            <a href="#!/players" class="btn btn-link">Edit players</a>
            <a href="#!/payments" class="btn btn-success pull-right">Confirm <span class="hidden-xs">booking </span>&amp; Pay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
